<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983055589214-uc6sull14a1ist7rs3u8m0h50un118jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983055589214-uc6sull14a1ist7rs3u8m0h50un118jo</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUV6lvHtcMDNiAg0YUXiwhQR7KhCFgKs</string>
	<key>GCM_SENDER_ID</key>
	<string>983055589214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nikita-Lomovtsev.RickAndMortyMVVM</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-e427c</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-e427c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983055589214:ios:8aec229dfa88ef73f839cf</string>
</dict>
</plist>